@charset "utf-8";
/* webfont */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@font-face {
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 24px;
    color: #333;
}

#wrap {
    min-width: 1400px;
}

#header_wrap {
    height: 100px;
}

.header {
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.header_scroll {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.5s;
}

.header:hover .submenu {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05) inset;
}

.logo_wrap {
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
}

.gnb {
    height: 100px;
}

.gnb_left {
    float: left;
    margin-left: 100px;
}

.gnb_right {
    float: right;
    margin-right: 100px;
}

.gnb li {
    float: left;
    padding-top: 35px;
}

.gnb li a {
    display: block;
    font-family: 'titan one';
    font-size: 18px;
    padding: 4px 6px 37px;
    margin: 0 80px;
}

.gnb li a:hover {
    color: #6CBCB0;
}

.submenu {
    position: absolute;
    top: 100px;
    left: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    z-index: 9;
    height: 350px;
    text-align: left;
    background-color: #fff;
}

.inner_submenu {
    width: 1320px;
    margin: 20px auto;
}

.submenu_left {
    float: left;
}

.submenu1 {
    padding: 0 90px 0 170px;
}

.submenu_right {
    float: right;
}

.submenu3 {
    padding: 0 145px 0 120px;
}

.inner_submenu li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 6px;
    margin: 15px 0;
    letter-spacing: 1px;
}

.inner_submenu li a:hover {
    color: #6CBCB0;
}

#banner {
    height: 650px;
    text-align: center;
    background: url(../images/detail/banner.png) no-repeat top center;
}

#banner h2 {
    color: #fff;
    font-family: 'DM Serif Text', serif;
    font-size: 44px;
    font-weight: 500;
    padding-top: 325px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#container{
    background-color: #FFF3DC;
    overflow: hidden;
}
.contents{
    width: 1320px;
    margin: 0 auto;  
    padding: 100px 0; 
}
.title{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
    border-left: 6px solid #6CBCB0;
    padding-left: 15px;
    margin-bottom: 50px;
}
.title span{
    display: block;
    font-size: 22px;
    font-weight: 500;
    font-family: 'DM Serif Text', serif;
}
.contents_box{
    height: 780px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.content_border{
    border: 1px solid #6CBCB0;
    height: 100%;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}
.content_left{
    width: 50%;
    float: left;
    height: 700px;
    border-right: 1px solid #333;
    padding-top: 125px;
    box-sizing: border-box;
}
.img_text{
    font-size: 18px;
    padding-top: 20px;
}
.content_right{
    width: 50%;
    float: right;
    height: 700px;
    padding: 0 90px;
    box-sizing: border-box;
}
.content_right h3{
    font-size: 20px;
    font-weight: 900;
    padding: 60px 0 20px;
    line-height: 1.2em;
    border-bottom: 1px solid #333;
}
.content_right h3 span{
    display: block;
    font-family: 'DM Serif Text', serif;
    font-size: 16px;
    font-weight: 500;
}
.content_right p{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 10px 0;
}

.content_right p span{
    font-weight: 500;
    float: right;
    text-align: right;
}
.top{
    height: 140px;
    border-bottom: 1px solid #333;
}
.center{
    height: 230px;
}
.bottom{
    height: 100px;
    border-top: 1px solid #333;
}
.box{
    padding-top: 10px;
}
.text_left{
    float: left;
    width: 100px;
}
.text_right{
    float: right;
    width: 150px;
}
.text_right span{
    padding: 10px 0;
}
.text_right span:nth-child(1){
    padding: 0 0 10px;
}
.content_right a{
    display: inline-block;
    border: 1px solid #333;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    position: relative;
    overflow: hidden;
}
.content_right a .btn_text{
    position: absolute;
    top: 13px;
    left: 53px;
    z-index: 2;
    padding: 0;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
}
.btn_hover{
    position: absolute;
    top: 0;
    left: -20px;
    width: 120%;
    height: 150px;
    background-color: #6CBCB0;
    border-radius: 50%;
    transform: translateY(60px);  
    transition: all 0.5s;
    z-index: 1;
}
.content_right a:hover .btn_text{
    color: #fff;
}
.content_right a:hover .btn_hover{
    transform: translateY(-50px);
}





#footer {
    background-color: #6CBCB0;
    text-align: left;
    height: 280px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer_logo {
    float: left;
    padding-right: 50px;
}

.footer_textbox {
    float: left;
    color: #fff;
}

.footer_textbox li {
    float: left;
}

.footer_textbox li a {
    display: block;
    color: #fff;
    margin-right: 10px;
}

.footer_textbox li a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin-left: 10px;
    vertical-align: -0.5px;
}

.footer_textbox li:nth-last-child(1) a::after {
    display: none;
}

.footer_textbox li a:hover {
    font-weight: 900;
}

.footer_textbox p {
    clear: both;
    padding-top: 10px;
}

.footer_textbox p span {
    display: block;
    padding-top: 10px;
}

.footer_link {
    float: right;
}

.footer_link li {
    float: left;
}

.footer_link li a {
    display: block;
    padding-left: 15px;
    position: relative;
}

.footer_link_hover {
    position: absolute;
    top: 0;
    left: 15px;
    opacity: 0;
    transition: all 0.3s;
}

.footer_link li:hover .footer_link_none {
    opacity: 0;
}

.footer_link li:hover .footer_link_hover {
    opacity: 1;
}